* {
    padding: 0;
    margin: 0;
   
}

.main {
    background-color: aquamarine;
    display: flex;

    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;

}

.box {
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box:nth-child(1) {
    position: absolute;
   top:-0px
}
.box:nth-child(2) {
    position: absolute;
   top:120px
}
.box:nth-child(3) {
    position: absolute;
  top: 120px;
  left:630px
}
.box:nth-child(4) {
    position: absolute;
  top: -0px;
  left:630px
}
.box:nth-child(5) {
    position: absolute;
  top: -0px;
right: 0;
}
.box:nth-child(6) {
    position: absolute;
  top: 0px;
 right: 200px;
}
.box:nth-child(7) {
    position: absolute;
  bottom: 0;
  left: 0;
}
.box:nth-child(8) {
    position: absolute;
  bottom: 0;
  left:200px;
}
.box:nth-child(9) {
    position: absolute;
  bottom: 0;
  left:400px;
}
.box:nth-child(10) {
    position: absolute;
  top: 400px;
  left: 630px;
}
.box:nth-child(11) {
    position: absolute;
 bottom: 0;
  left: 630px;
}
.box:nth-child(12) {
    position: absolute;
  top: 0px;
  right: 400px;
}
.box:nth-child(13) {
    position: absolute;
 bottom: 130px;
  right: 0;
}
.box:nth-child(14) {
    position: absolute;
  bottom: 0;
  right: 0;
}